#use wml::des::navbar
#dontuse wml::debian-zh::navbar

# $Id$

# Adapted from template/navbar.tmpl used in OLVC Home Page (www.olvc.ab.ca)

##
##  The main Navigation Bar [left, vertically]
##

<define-tag ifmenu endtag=required>
$(nomenu:*%body)
</define-tag>

<ifmenu>
<navbar:define name=main urlbase="$(HOME)/international/chinese" >
#  imgbase="img/">
  <navbar:header>
    <div id="leftcol">
    <ul>
  </navbar:header>
  <navbar:prolog>
     <li>
  </navbar:prolog>
  <navbar:prolog type=S>
    <li class="menuselected">
  </navbar:prolog>
#  <navbar:prolog><TR><TD>&nbsp;</TD><TD nowrap><B></navbar:prolog>

#  <navbar:button id=home txt="中文計劃主頁" url="./">
  <navbar:button id=news txt="最新消息" url="News/" menu="nb-news">
#  <navbar:button id=user txt="使用入門" url="user" menu="nb-user">
  <navbar:button id=doc txt="說明[CN:文檔:][HKTW:文件:]" url="doc/" menu="nb-doc">
  <navbar:button id=faq txt="常見問題解答" url="faq/" menu="nb-faq">
  <navbar:button id=mailing_lists txt="郵件列表" url="mailing_lists" menu="nb-mailing_lists">
  <navbar:button id=screenshot txt="中文Debian畫面" url="screenshot/" menu="nb-screenshot">
  <navbar:button id=devel txt="中文開發" url="devel/" menu="nb-devel">
  <navbar:button id=software txt="中文軟件列表" url="software" menu="nb-software">
  <navbar:button id=download txt="軟件下載" url="download" menu="nb-download">
  <navbar:button id=links txt="相關網站" url="related_links">
  <navbar:button id=about txt="關於本計劃" url="about" menu="nb-about">
  <navbar:button id=thanks txt="鳴謝" url="thanks">

  <navbar:epilog>
     </li>
  </navbar:epilog>

  <navbar:footer>
  </ul>
  </div>
  </navbar:footer>
  <navbar:filter>
    my ($mcode, $CFG, $select) = @_;
#    $mcode =~ s/<a (href="\S+?")>/<A $1 class=mnb>/g;
    # $mcode =~ s|<B>\s*</B>||g;
    return $mcode;
  </navbar:filter>
</navbar:define>
<define-tag submenu endtag=required whitespace=delete>
<set-var stem=<match "%0" "^[^.]+" action=extract>>
  <navbar:define name="nb-<get-var stem>" urlbase="$(HOME)/international/chinese/" >
    <navbar:header>
    <ul>
    </navbar:header>
    <navbar:prolog>
      <li>
    </navbar:prolog>
    <navbar:prolog type=S>
      <li class="menuselected">
    </navbar:prolog>
%body
    <navbar:epilog>
    </li>
    </navbar:epilog>
    <navbar:footer>
    </ul>
    </navbar:footer>
  </navbar:define>
</define-tag>

#<submenu about>
#  <navbar:button id="about.articles" txt="Articles" url="Articles.html">
#  <navbar:button id="about.contact" txt="Contact" url="Contact.html">
#</submenu>

#<submenu links>
#  <navbar:button id="links.parishes" txt="Parishes" url="Links/Parishes.html">
#  <navbar:button id="links.retreats" txt="Retreats" url="Links/Retreats.html">
#</submenu>

<submenu devel>
  <navbar:button id="devel.people" txt="計劃成員" url="devel/people">
  <navbar:button id="devel.groups" txt="計劃小組" url="devel/groups">
  <navbar:button id="devel.join" txt="參與計劃" url="devel/join">
  <navbar:button id="devel.zhongwenhua" txt="中文化" url="devel/zhongwenhua">
  <navbar:button id="devel.doctrans" txt="[CN:文檔:][HKTW:文件:]翻譯" url="devel/doc_translate">
  <navbar:button id="devel.wwwtrans" txt="網頁翻譯" url="devel/www_translate">
</submenu>

#<submenu doc>
#  <navbar:button id="doc.guide" txt="使用入門" url="doc/debian-guide">
#</submenu>

#<submenu news>
##  <navbar:button id="news.holyground" txt="Holy Ground" url="News/HolyGround.html">
#  <navbar:button id="news.archive" txt="Archive" url="News/Archive.html">
#</submenu>

</ifmenu>
