# Note: Do not load wml::debian::template; it is already included.
#
# Portions by Anthony Fok, based on his OLVC Home Page template.  :-)
# 2000-06-26

# $Id$

#use wml::debian::basic SUMMARY="$(SUMMARY)"
#use wml::debian::languages
#  not use wml::std::toc style=hspace
#use wml::std::href
#use wml::std::box
#use wml::std::grid
#use tmpl::debian-zh::navbar
#use tmpl::debian-zh::macros

# # Our very own stylesheet.  :-)
# {#style#:\
# <LINK href="$(HOME)/international/chinese/debian-zh.css" rel="stylesheet" type="text/css">\
# :##}
# The styles aren't used 

# Local Chinese header for navbar
<ifmenu>
<navbar:render nohints name=main select=$(area) $(subselected:+subselected)>
</ifmenu>

<div id="maincol">
{#check_trans#}

<ifeq "$(NOHEADER)" "" "
<h1>$(title)</h1>
"/>

{#mainbody#}

<ifmenu>
</ifmenu>

</div> <!-- end maincol -->

{#pre_footer#:
<hrlinehidden/>

<ifeq "$(NOHOMELINK)" "" "
<p><returnline/></p>
<hrline/>
"/>

<ifeq "$(NOLANGUAGES)" "" "
<:= languages_footer() :>
">
:#pre_footer#}


{#mainbody#:
# #use wml::debian::footer
